<h2>Showing Details for: <%= beer[0].name  %> </h2>

<div>
    <h3><%= beer[0].name %></h3>
    <img src="<%= beer[0].image_url %> " alt="<%= beer[0].name %> ">
    <p><%= beer[0].description %></p>
    <p><%= beer[0].brewers_tips %></p>
    <p><%= beer[0].ingredients.yeast %></p>
     
    <form method="POST" action="/users/tracker">
        <input type="text" name="name" value="<%= beer[0].name %>">
        <input type="text" name="yeast_type" value="<%= beer[0].ingredients.yeast %>">
        <input type="hidden" name="userId" value="<%= user.id %>">
        <textarea name="description" cols="100" rows="10"> <%= beer[0].description %> </textarea>
        <button class="btn btn-primary" type="submit">Add to Tracker</button>
      </form>
</div>