
<% if (beer) { %>
    <h2>Name: <%=beer.name%></h2>
    <h3>Yeast: <%= beer.yeast_type %></h3> 
    <p><%= beer.description%></p>
    
    <a href="/users/tracker/<%= beer.name %>/review">
        <input type="submit" value="Add a Review">
    </a>
    
    
    <div>
        <% beer.reviews.forEach(review => { %>
            <% if (review.dataValues.userId === usersLocalId) { %>
                <p><%= user.email %></p><p><%= review.dataValues.review  %> <% console.log(usersLocalId) %>  </p>
                <form method="POST" action="/users/tracker/reviews/<%=review.id%>/?_method=DELETE">
                    <button>X</button>
                </form>
                <a href="/users/tracker/reviews/edit/<%= review.id %> ">Edit</a>
                <% } else { %>
                    <!-- <p>hehe</p> -->
                    <% } %> 

                    <!-- change of plans: instead of review section, it's gonna be a comment section -->
        <% }) %>
    </div>          
<% } %>