
<% if (beer) { %>
    <h2>Name: <%=beer.name%></h2>
    <h3>Yeast: <%= beer.yeast_type %></h3> 
    <p><%= beer.description%></p>
    
    <a href="/users/tracker/<%= beer.name %>/review">
        <input type="submit" value="Add a Review">
    </a>
    
    
    <div>
        <% beer.reviews.forEach(review => { %>
            <% if (review.dataValues.userId === usersLocalId) { %>
                <p><%= review.dataValues.review  %> <% console.log(review.dataValues, usersLocalId) %>  </p>
                <form method="POST"action="/users/tracker/<%=review.id%>/?_method=DELETE">
                    <button>X</button>
                </form>
                <% } else { %>
                    <!-- <p>You have no reviews for this beer!</p> -->
                    <% } %> 
        <% }) %>
    </div>          
<% } %>