<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <img src="https://cdn-icons-png.flaticon.com/512/931/931949.png" alt="beer-icon" width="50px">
      <a class="navbar-brand" href="/">Beer House</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          
            <li class="nav-item">
              <a class="nav-link" href="/users/tracker">Beers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/tracker">Tracker</a>
            </li>
        </ul>
        
      </div>
    </div>
  </nav>



<% if (beer) { %>
    <h2>Name: <%=beer.name%></h2>
    <h3>Yeast: <%= beer.yeast_type %></h3> 
    <p><%= beer.description%></p>
    
    <a href="/users/tracker/<%= beer.name %>/review">
        <input type="submit" value="Add a Review">
    </a>
    
    
    <div>
        <% beer.reviews.forEach(review => { %>
            <% if (review.dataValues.userId === usersLocalId) { %>
                <p><%= user.email %></p><p><%= review.dataValues.review  %> <% console.log(usersLocalId) %>  </p>
                <form method="POST" action="/users/tracker/reviews/<%=review.id%>/?_method=DELETE">
                    <button>X</button>
                </form>
                <a href="/users/tracker/reviews/edit/<%= review.id %> ">Edit</a>
                <% } else { %>
                    <!-- <p>hehe</p> -->
                    <% } %> 

                    <!-- change of plans: instead of review section, it's gonna be a comment section -->
        <% }) %>
    </div>          
<% } %>